@import "../../Utils/Style/styleSettings";

.mainHeader {
    background-color: white;
    background-size: cover;
    overflow: hidden;
    align-items: center;
    min-height: 600px;
    // display: flex;
}