@import "../../Utils/Style/styleSettings";

.footerModeration {
    display: flex;
    align-items: center;
    font-size: 14px;    
    background-color: $Cream;
    padding: 5px;
    min-height: 20px;
    margin : 10px 0px 0px 0px;
    button {
        box-sizing: border-box;
        width: 100%;
        text-transform: uppercase;
        font-size: 11px;
        letter-spacing: 1px;
        color: white;
        border-width: 0px 1px 0px 1px;
        min-height: 30px;
        &:hover {
            cursor: pointer;
            background-color: $secondary-color;
        }
    }
}