@import "../../Utils/Style/styleSettings";


.main {
    background-color: $secondary-color;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    overflow: hidden;
    align-items: center;
    display: flex;
    justify-content: center;  
}