@import "../../Utils/Style/styleSettings";

img {
    width : 200px;
    padding: 15px;
    display: flex;
    align-items: center;
    @media (max-width: $breakpoint-mobile) {
       padding: 5px;
       width : 100px;
    }
}

.headerBloc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary-color;
    width: 100%;
    max-height: 130px;
    padding: 10px;
    @media (max-width: $breakpoint-mobile) {
        flex-direction: column;
        max-height: 300px;
        align-items: flex-start;
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    @media (max-width: $breakpoint-mobile) {
        flex-wrap: wrap;
    }
    &__signup {
      margin: 10px;
      border-radius: 8px;
      background: $tertiary-color;
      color: $Cream;
      padding: 12px;
      text-decoration: none;
      text-align: center;
      font-size: 16px;
      @media (max-width: $breakpoint-mobile) { 
        padding: 5px;;
      }

      &:hover {
        cursor: pointer;
        background: $secondary-color;
        color: $tertiary-color;
        transition: all 0.4s ease-out;
         }   
    } 
}